@import './variables.scss';
@import './filter.scss';
@import './tags.scss';


.ingredient, .ingredients {
    background: $blue;
}
.appliance, .appliances {
    background: $green;
}
.ustensil, .ustensils {
    background: $orange;
}

header {
    margin-top: 50px;
    text-align: center;

    h1 {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        color: $orange;
    }
}


.form-search-bar {
    width: 100%;
    position: relative;
    margin-bottom: 20px;

    .input-search-bar {
        background: $lightGrey;
        border-radius: 5px;
        height: 69px;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $black;
    }

    button {
        position: absolute;
        right: 20px;
        top: 10px;
        border: unset;
        background: transparent;

        .icon-search {
            font-size: 32px;
        }
    }

}

#section-recipes {

    .message-no-result {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    article {
        width: 432px;
    }

    .background-grey {
        background: $grey;
        height: 178px;
        width: 100%;
    }

    .card-body {
        height: 300px;
        background-color: $lightGrey;

        .card-title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
    
            .title {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
        
            .timer {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                min-width: 100px;
    
                i {
                    padding-right: 10px;
                }
            }
        }
    
        .content {
            display: flex;
    
            .ingredients {
                width: 50%;
                display: flex;
                flex-direction: column;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                background: transparent;
            }
    
            .description {
                width: 50%;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
            }
        }
    }

}

@media screen and (min-width:1200px){
    #section-recipes {
        article {
            width: 350px;
        }

        div.card-body {
            overflow-y: auto;
        }

        div.ingredients {
            padding-right: 2px;
        }
    }
}





